.home {
    .hero {
        min-height: 520px;
        background: url(home/bg.jpg) no-repeat center center fixed $cream;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .hero-text {
            margin-top: 50px;
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 0.3px;
        }

        .hero-line {
            width: 300px;
            height: 3px;
            margin: 20px auto;
            background: $gray;
        }

        .hero-upcase-text {
            text-transform: uppercase;
        }

        .hero-bottom-text {
            margin-top: 80px;
            margin-bottom: 50px;
        }

        @media(max-width: 770px) {
            min-height: 400px;
            background: $cream;
        }
    }

    .form-section {
        margin-top: 40px;
        text-align: center;
        color: $white;
        letter-spacing: 0.3px;

        .form-container {
            p {
                font-size: 18px;

            }

            input, .btn  {
                padding-top: 7px;
                padding-bottom: 7px;
                height: 35px;
            }
        }

        input, .btn {
            border-radius: 0;
        }

        @media(max-width: 770px) {
            .submit {
                margin-top: 10px;
            }
        }
    }
}