<div class="hero">
  <div class="wrapper">
    <div class="right">
      <p class="large Metrophobic">GET READY.</p>
      <div class="divider">&nbsp;</div>
      <h1 class="logo"><%= link_to"Brass" , root_url %></h1>
      <p class="coming_soon">is coming soon</p>
      <div class="divider">&nbsp;</div>
      <p class="small Metrophobic">YOUR CLOSET (AND WALLET) WILL THANK YOU.</p>
    </div>
  </div>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks Metrophobic">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
        <p class="compiling Metrophobic">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
        <p class="go-to Metrophobic">In the meantime, head to  <a href="http://www.harrys.com/">WWW.HARRYS.COM</a></p>
        <p class="again Metrophobic">Thank You Again!</p>
    <% else %>
        <p class="byline Metrophobic">BECOME AN INSIDER...</p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email Metrophobic" %>
            <input class="submit Metrophobic" name="commit" type="submit" value="GIVE ME ACCESS" />
        <% end %>
    <% end %>
</div>
